input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.p-right{
  padding-right: 0px;
}

.m-r-b{
  padding-right: 80px !important;
  margin-right: 80px !important;
}